[submodule "st"]
	path = st
	url = https://git.suckless.org/st/
[submodule "dmenu"]
	path = dmenu
	url = https://git.suckless.org/dmenu/
[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "slstatus"]
	path = slstatus
	url = https://git.suckless.org/slstatus
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "vim-configs"]
	path = vim-configs
	url = https://github.com/fede183/vim-configs.git
