[submodule "st"]
	path = st
	url = https://github.com/fede183/st.git
	branch = master
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/fede183/dmenu.git
	branch = master
[submodule "dwm"]
	path = dwm
	url = https://github.com/fede183/dwm.git
	branch = master
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/fede183/slstatus.git
	branch = master
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "vim-configs"]
	path = vim-configs
	url = https://github.com/fede183/vim-configs.git
[submodule "mutt-configs"]
	path = mutt-configs
	url = https://github.com/fede183/mutt-configs.git
